.nav {
  height: 40px;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in;
  width: 100%;
  z-index: 1;
}

.nav__bg {
  background: #111;
}

.nav__logo {
  left: 2rem;
  max-height: 30px;
  object-fit: contain;
  position: fixed;
  top: 0.5rem;
}
